*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
body{
    background: url("../images/img-4.png") no-repeat right top;
    /* 배경 이미지 고정(스크롤해도 고정된 자리에 계속 보임) */
    background-attachment: fixed;
}
div{
    width: 400px;
    height: 250px;
    padding: 20px;
    border: 20px solid rgba(204,204,204,0.493);
    margin-bottom: 20px;
    background: url("../images/img-5.png") no-repeat right top;
}
#bg1{
    /* 배경 이미지의 적용 범위 조절 */
    background-origin: content-box;
}
#bg2{
    /* 배경 이미지의 적용 범위를 패딩까지 표시 */
    background-origin: padding-box;
}
#bg3{
    /* 배경 이미지의 적용 범위를 까지 표시 */
    background-origin: border-box;
}